* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}
/* --------------------------------------
          SEARCH BOX STYLING
   --------------------------------------*/

.form-input {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.form-input input[type="text"] {
  padding: 12px;
  border-radius: 20px;
  border: 1px solid gray;
  padding-left: 20px;
  width: 50%;
}

/* ----------------------------
        USER CARD STYLING
  ---------------------------*/

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 5px;
}

.card .img-card {
  float: left;
}

.card .img-card img {
  width: 100%;
  height: 190px;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

.card .u-details {
  background: #1a1a1a;
  /* margin-left: 193px; */
  margin-top: 0;
  width: 500px;
  margin-bottom: 16px;
  padding: 14px 0px;
  margin-top: 12px;
  margin-left: 0px;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

.u-details p {
  margin: 4.3px 8px;
  color: #ccc;
  margin-left: 18px;
}

.u-details p span {
  display: inline-block;
  margin-bottom: 1.4px;
  margin-left: 22px;
}

.u-details p.name span.name {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
.u-details p .soc-icon {
  margin-left: 0px;
}

.hr-line {
  clear: both;
}

/* ----------------------------------------
            PAGINATION  STYLING
   ----------------------------------------*/
.pag-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.pag-link {
  float: left;
  margin: 0 5px;
}

.pag-link a {
  text-decoration: none;
}
